@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Organizer</h1>
    <p class="lead">Login and manage your favorite artists catalogs!</p>
    <p><a href="http://lbelch1-wa-web524-a5.azurewebsites.net/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Users can use the navigation bar at the top of the page to select which page they would like to view.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The tabs</h2>
        <p>The tabs will go to views of all of the items in the database, make sure you have the proper credentials before using certain routes!.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Functionality</h2>
        <p>This webiste was used to learn about asp.net mvc</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>>